Package: com.dopeteam.tailornotail
Name: Tailornotail
Depends: mobilesubstrate, ws.hbang.common, com.rpetrich.rocketbootstrap (>= 1.0.2), org.thebigboss.libcolorpicker
Version: 0.1.0
Architecture: iphoneos-arm
Description: Change your message app to make it yours! Currently still in beta!
Maintainer: dopeteam <wizagesmax@gmail.com>
Author: dopeteam <wizagesmax@gmail.com>
Section: Tweaks
