<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Default Bubble Theme</string>
            <key>detail</key>
            <string>tailsdBubbleListController</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>iMessage Bubble Theme</string>
            <key>detail</key>
            <string>tailsiBubbleListController</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>SMS Bubble Theme</string>
            <key>detail</key>
            <string>tailssBubbleListController</string>
        </dict>
	</array>
	<key>title</key>
	<string>Bubbles</string>
</dict>
</plist>
