<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tails</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.tailornotail</string>
			<key>key</key>
			<string>default-EnableTails</string>
			<key>label</key>
			<string>Show message tails</string>
			<key>PostNotification</key>
			<string>com.dopeteam.tailornotail/ReloadPrefs</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Sender bubble gradient</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>defaults</key>
            <string>com.dopeteam.tailornotail</string>
            <key>PostNotification</key>
            <string>com.dopeteam.tailornotail/ReloadPrefs</string>
            <key>key</key>
            <string>default-sender-TopColor</string>
            <key>label</key>
            <string>Sender Top Color</string>
            <key>default</key>
            <string>#AAAAAA</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>label</key>
            <string>Bot color</string>
            <key>defaults</key>
            <string>com.dopeteam.tailornotail</string>
            <key>PostNotification</key>
            <string>com.dopeteam.tailornotail/ReloadPrefs</string>
            <key>key</key>
            <string>default-sender-BotColor</string>
        </dict>        
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Received bubble gradient</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>defaults</key>
            <string>com.dopeteam.tailornotail</string>
            <key>PostNotification</key>
            <string>com.dopeteam.tailornotail/ReloadPrefs</string>
            <key>key</key>
            <string>default-received-TopColor</string>
            <key>label</key>
            <string>Received Top Color</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTableCell</string>
            <key>cellClass</key>
            <string>HBColorPickerCell</string>
            <key>defaults</key>
            <string>com.dopeteam.tailornotail</string>
            <key>PostNotification</key>
            <string>com.dopeteam.tailornotail/ReloadPrefs</string>
            <key>key</key>
            <string>default-received-BotColor</string>
            <key>label</key>
            <string>Received Bottom Color</string>
        </dict>
    </array>
    <key>title</key>
    <string>Default</string>
</dict>
</plist>