<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>icon</key>
			<string>TNTImages/power.png</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.tailornotail</string>
			<key>key</key>
			<string>EnableTweak</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dopeteam.tailornotail/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>TNTImages/chat.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Chat Bubble Settings</string>
			<key>detail</key>
			<string>tailsBubbleListController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>TNTImages/BG.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Background Settings</string>
			<key>detail</key>
			<string>tailsBackgroundController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>TNTImages/makers.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>detail</key>
			<string>tailsMakersListController</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>TNTImages/support.png</string>
			<key>action</key>
			<string>showSupportEmailController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015 Wizages</string>
		</dict>
	</array>
	<key>title</key>
	<string>TNT</string>
</dict>
</plist>
